.ipynb_checkpoints/Interface Exploration-checkpoint.ipynb
.ipynb_checkpoints/Final Project Exploration-checkpoint.ipynb
archive.zip
archive
housekWh.csv
.ipynb_checkpoints/Data Segmentation-checkpoint.ipynb
